<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>USBGuard for Omarchy</vendor>
  <action id="org.omarchy.usbguard.modify">
    <description>Change USB device access</description>
    <message>Administrator authentication is required to change USBGuard device access or saved rules</message>
    <icon_name>drive-removable-media-usb</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/omarchy-usbguard-action</annotate>
  </action>
</policyconfig>
